# ignore editor-specific
.idea/*
.vscode/*

# ignore venv files
include/*
lib/*
lib64/*
bin/*
pyvenv.cfg

# Python cache files
**/__pycache__/
**.pyc

# ignore logs
**.log

# binary data
voice_input.wav

# hidden files
*.hidden
*.hidden.*

# Development files
shell.nix
