# ignore editor-specific
.idea/*
.vscode/*
# ignore env file
.env*

# ignore venv files
include/*
lib*/*
bin/*
pyvenv.cfg

# Python cache files
**/__pycache__/
**.pyc

# ignore logs
**.log

# binary data
voice_input.wav

# hidden files
*.hidden
*.hidden.*
