# ignore editor-specific
.idea/*
.vscode/*
# ignore env file
.env*

# ignore venv files
include/*
lib/
lib64
bin/*
pyvenv.cfg

# Python cache files
**/__pycache__/**
**.pyc

# ignore logs
**.log

# binary data
voice_input.wav

# hidden files
*.hidden
*.hidden.*

# Node modules
node_modules/*

# Mostly for stashing
stash/*

# Minified js. You can make the using make
static/scripts/minified/*
# Allow all the js libraries
!static/scripts/lib

# Dev certificates
certs/*

uploads/*temp_voice_input*.webm
