{% extends 'base.html' %}

{% block title %}Register - Product Query App{% endblock %}

{% block content %}
<section>
    <a href="{{ url_for('index') }}">{{ translations['main_page'] }}</a>
    <h2>{{ translations['register'] }}</h2>
    <form action="{{ url_for('register') }}" method="post">
        <label>{{ translations['username'] }}</label>
        <input type="text" name="username" required><br><br>
        <label>{{ translations['password'] }}</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">{{ translations['register_button'] }}</button>
    </form>
</section>
{% endblock %}
